{% extends "layout.html" %}

{% block title %}
Create a new todo
{% endblock %}

{% block body %}

<h2>Add a new reference</h2>

<form action="/create_ref" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="ref_type">Type:</label>
  <select id="ref_type" name="ref_type" required>
    <option value="article">Article</option>
    <option value="book">Book</option>
    <option value="inproceedings">Inproceedings</option>
    <option value="misc">Misc</option>
  </select>

  <label for="ref_author">Author:</label>
  <input type="text" id="ref_author" name="ref_author">

  <label for="ref_title">Title:</label>
  <input type="text" id="ref_title" name="ref_title">

  <label for="ref_year">Year:</label>
  <input type="text" id="ref_year" name="ref_year">

  <br>
  <button type="submit" name="ref_submit">
    Add
  </button>
</form>
<br>
<a href="/">Back</a>

{% endblock %}