{% extends "layout.html" %}

{% block title %}
See all the citations
{% endblock %}

{% block body %}

<h2>View all the references</h2>

<!-- Filtering -->
<div class="filter-container">
    <span>Filter references:</span>
    <form action="/view_refs" method="get" autocomplete="off">
        Search:
        <input name="query" type="search" value="{{ active_filters.query }}" placeholder="Search for refrerences..." maxlength="300">
        Type:
        <select id="type" name="type">
            {% for type in available_filters["types"] %}
                <option value="{{ type }}" {% if active_filters.type == type %}selected{% endif %}>
                    {{ type|capitalize }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
</div>

{% if refs %}
<!-- References -->
<table class="refs-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Keyword</th>
        <th>Type</th>
        <th>Author</th>
        <th>Title</th>
        <th>Year</th>
        <th>Actions</th>
    </tr>
    </thead>

    {% for ref in refs %}
    <tr>
        <td>{{ ref.id }}</td>
        <td>{{ ref.keyword }}</td>
        <td>{{ ref.type }}</td>
        <td>{{ ref.author }}</td>
        <td>{{ ref.title }}</td>
        <td>{{ ref.year }}</td>
        <td>
            <div class="actions">
                <form class="action-form" action="/edit_ref/{{ ref.id }}" method="get">
                    <input type="submit" value="Muokkaa">
                </form>
                <form class="action-form delete" action="/delete_ref/{{ ref.id }}" method="post">
                    <input type="submit" value="Poista">
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Page Navigation -->
<div class="pagination">
    {% if page > 1 %}
        <a href="{{ url_for('ref_list', query=active_filters.query, type=active_filters.type, page=page-1, ref_amount=per_page) }}">« Previous</a>
        {% if page > 3 %}
            <a id="first-page" href="{{ url_for('ref_list', query=active_filters.query, type=active_filters.type, page=1, ref_amount=per_page) }}">1</a>
            <span class="pagination-dots">...</span>
        {% endif %}
    {% endif %}

    {% for i in range(page_range[0], page_range[1] + 1) %}
        {% if i == page %}
            <a class="selected-page">{{ i }}</a>
        {% else %}
            <a id="page-{{ i }}" href="{{ url_for('ref_list', query=active_filters.query, type=active_filters.type, page=i, ref_amount=per_page) }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page < pages %}
        {% if page < pages - 2 %}
            <span class="pagination-dots">...</span>
            <a id="last-page" href="{{ url_for('ref_list', query=active_filters.query, type=active_filters.type, page=pages, ref_amount=per_page) }}">{{ pages }}</a>
        {% endif %}
        <a href="{{ url_for('ref_list', query=active_filters.query, type=active_filters.type, page=page+1, ref_amount=per_page) }}">Next »</a>
    {% endif %}

    <div class="ref-amount">
        <form action="/view_refs" method="get">
            Showing
            <select id="ref_amount" name="ref_amount" required onchange="this.form.submit()">
                <option value=10 {% if per_page==10 %}selected{% endif %}>10</option>
                <option value=25 {% if per_page==25 %}selected{% endif %}>25</option>
                <option value=50 {% if per_page==50 %}selected{% endif %}>50</option>
            </select>
            references
        </form>
    </div>
</div>

{% else %}
<p>No references found yet.</p>
{% endif %}

<br>
<a href="/">Back</a>

{% endblock %}