{% extends "layout.html" %}

{% block title %}
See all the citations
{% endblock %}

{% block body %}

<h2>View all the references</h2>

<!-- Filtering -->
<div style="margin-bottom: 10px;">
    <span style="font-size: 20px;">Filter references:</span>
    <form action="/view_refs" method="get" autocomplete="off">
        Search: 
        <input name="query" type="search" value="{{ active_filters.query }}" placeholder="Etsi viitettä..." maxlength="300">
        Type: 
        <select name="type">
            {% for type in available_filters["types"] %}
                <option value="{{ type }}" {% if active_filters.type == type %}selected{% endif %}>
                    {{ type|capitalize }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" >Filter</button>
    </form>
</div>

{% if refs %}
<!-- References -->
<table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif; text-align: center;">
    <tr style="background: #f4f4f4; text-transform: uppercase; border-bottom: 2px solid #ccc;">
        <th style="padding: 12px;">ID</th>
        <th style="padding: 12px;">Type</th>
        <th style="padding: 12px;">Author</th>
        <th style="padding: 12px;">Title</th>
        <th style="padding: 12px;">Year</th>
        <th style="padding: 12px;">Actions</th>
    </tr>

    {% for ref in refs %}
    <tr style="border-bottom: 1px solid #ddd;" onmouseover="this.style.backgroundColor='#eef7ff'"
        onmouseout="this.style.backgroundColor=''">
        <td style="padding: 10px;">{{ ref.id }}</td>
        <td style="padding: 10px;">{{ ref.type }}</td>
        <td style="padding: 10px;">{{ ref.author }}</td>
        <td style="padding: 10px;">{{ ref.title }}</td>
        <td style="padding: 10px;">{{ ref.year }}</td>
        <td style="padding: 10px;">
            <form action="/edit_ref/{{ ref.id }}" method="get">
                <input type="submit" value="Muokkaa">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<!-- Page Navigation -->
<div style="margin-top: 20px; text-align: center;">
    {% if page > 1 %}
        <a href="{{ url_for('ref_list', cite_type=active_filters.cite_type, page=page-1) }}">« Previous</a>
    {% endif %}

    Page {{ page }} of {{ pages }}

    {% if page < pages %}
        <a href="{{ url_for('ref_list', cite_type=active_filters.cite_type, page=page+1) }}">Next »</a>
    {% endif %}
</div>

{% else %}
<p>No references found yet.</p>
{% endif %}

<br>
<a href="/">Back</a>

{% endblock %}