[MASTER]

ignore-paths=src/tests
ignore=single_file_to_ignore.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        C0114,C0115,C0116,
        too-many-arguments,
        too-many-instance-attributes,
        too-few-public-methods

[FORMAT]

max-line-length = 150
indent-after-paren = 4

[BASIC]
good-names=i,j,k,ex,Run,_,id

[DESIGN]
max-args=14
max-attributes=14
min-public-methods=0

[REFACTORING]

max-nested-blocks = 2
